@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP-etta.NaT-ale</h1>
    <p class="lead">ASP-etta.NaT-ale è un'apllicazione molto carina.</p>
    <p><a href="http://localhost:54217/" class="btn btn-primary btn-lg">Provala &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bellissima canzoncina di Natale</h2>
        <p>
            Dashing through the snow
            In a one horse open sleigh
            O’er the fields we go
            Laughing all the way
            Bells on bob tails ring
            Making spirits bright
            What fun it is to laugh and sing
            A sleighing song tonight

            Oh, jingle bells, jingle bells
            Jingle all the way
            Oh, what fun it is to ride
            In a one horse open sleigh
            Jingle bells, jingle bells
            Jingle all the way
            Oh, what fun it is to ride
            In a one horse open sleigh

            A day or two ago
            I thought I’d take a ride
            And soon Miss Fanny Bright
            Was seated by my side
            The horse was lean and lank
            Misfortune seemed his lot
            We got into a drifted bank
            And then we got upsot

            Oh, jingle bells, jingle bells
            Jingle all the way
            Oh, what fun it is to ride
            In a one horse open sleigh
            Jingle bells, jingle bells
            Jingle all the way
            Oh, what fun it is to ride
            In a one horse open sleigh

            Dashing through the snow
            In a one horse open sleigh
            O’er the fields we go
            Laughing all the way (ahahaha)
            Bells on bob tails ring
            Making spirits bright
            What fun it is to laugh and sing
            A sleighing song tonight

            Oh Jingle bells, jingle bells
            Jingle all the way
            Oh, what fun it is to ride
            In a one horse open sleigh
            Jingle bells, jingle bells
            Jingle all the way
            Oh, what fun it is to ride
            In a one horse open sleigh
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=O2MFducncsg&feature=youtu.be">Ascoltala &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>"It's Beginning To Look A Lot Like Christmas"</h2>
        <p>It's beginning to look a lot like Christmas
            Everywhere you go;
            Take a look at the five and ten
            It's glistening once again
            With candy canes and silver lanes aglow.

            It's beginning to look a lot like Christmas
            Toys in every store
            But the prettiest sight to see is the holly that will be
            On your own front door.

            A pair of hopalong boots and a pistol that shoots
            Is the wish of Barney and Ben;
            Dolls that will talk and will go for a walk
            Is the hope of Janice and Jen;
            And Mom and Dad can hardly wait for school to start again.

            It's beginning to look a lot like Christmas
            Everywhere you go;
            There's a tree in the Grand Hotel, one in the park as well,
            It's the sturdy kind that doesn't mind the snow.

            It's beginning to look a lot like Christmas;
            Soon the bells will start,
            And the thing that will make them ring is the carol that you sing
            Right within your heart

            It's beginning to look a lot like Christmas
            Toys in every store
            But the prettiest sight to see is the holly that will be
            On your own front door.

            Sure it's Christmas once more...
        </p>
        <p><a class="btn btn-default" href="https://www.azlyrics.com/lyrics/michaelbuble/itsbeginningtolookalotlikechristmas.html">Ascoltala &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Comprami un regalo :D</h2>
        <p>Piccola fuori, anche piccola dentro.</p>
        <p><a class="btn btn-default" href="http://www.automania.it/varie/mini-minor-auto.jpg">Guarda &raquo;</a></p>
    </div>
</div>